<% var target = showSocket ? ' target="_self"' : ''; %>
	<!-- Menu -->
	<nav id="menu" class="navbar navbar-inverse navbar-static-top" ng-controller="menuCtrl">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapsable">
					<span class="sr-only">Visa eller göm meny</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"<%- target %> title="Wallindev">
					<!-- TODO: Logga?! -->
					Wallindev
				</a>
				<!-- Loader -->
				<div id="loader" class="pull-left"></div>
			</div>

			<div class="collapse navbar-collapse" id="menu-collapsable">
				<ul id="links" class="nav navbar-nav">
					<li id="link_0"><a href="/"<%- target %> title="Till startsidan">Hem <span class="sr-only">(aktiv)</span></a></li>
					<li id="link_1"><a href="/about"<%- target %> title="Om mig och mitt företag, Wallin Systemutveckling">Om</a></li>
					<li id="link_2"><a href="/services"<%- target %> title="Tjänster jag erbjuder">Tjänster</a></li>
					<li id="link_3"><a href="/projects"<%- target %> title="Projekt jag genomfört">Projekt</a></li>
					<li id="link_4"><a href="/contact"<%- target %> title="Kontaktuppgifter och kontaktformulär">Kontakt</a></li>
				</ul>
			</div>
		</div>
	</nav>
